<div mdl id="page-content-wrapper" class="mdl-grid">
    <h3 class="mdl-cell mdl-cell--12-col">Sobre o EduCon</h3>

    <div class="mdl-grid portfolio-copy">
        <h4 class="mdl-cell mdl-cell--12-col mdl-typography--headline">O que é?</h4>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>
                O EduCon é um protótipo de portal de Dados Abertos na área da Educação no estado do RS.
                Foi desenvolvido como parte do trabalho de conclusão de curso de Bacharelado em Sistemas de Informação em 2016/1.
            </p>
        </div>

        <h4 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Integrantes</h4>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <ul>
                <li>Fábio Rocha da Costa</li>
                <li>Lucas da Costa Cunha</li>
            </ul>
        </div>

        <h4 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Entidade</h4>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <ul>
                <li>Pontifícia Universidade Católica do Rio Grande do Sul - PUCRS</li>
                <li>Faculdade de Informática</li>
                <li>Bacharelado em Sistemas de Informação</li>
                <li>Trabalho de Conclusão de Curso</li>
            </ul>
        </div>

        <h4 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Fonte de dados</h4>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>
                Os dados utilizados para a elaboração do projeto são disponibilizados pela <a href="http://www.fee.rs.gov.br/" target="_blank">Fundação de Economia e Estatística Sigfried Emanuel Heuser</a>
                Dados disponíveis em: <a href="http://dados.fee.tche.br/" target="_blank">http://dados.fee.tche.br/</a>
            </p>
        </div>

        <h4 class="mdl-cell mdl-cell--12-col mdl-typography--headline">GitHub do projeto</h4>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <ul>
                <li><a href="https://github.com/frc1983/EduCon" target="_blank">https://github.com/frc1983/EduCon</a></li>
                <li><a href="https://github.com/frc1983/EduCon-Portal" target="_blank">https://github.com/frc1983/EduCon-Portal</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="loader" *ngIf="isLoading">
    <img src="app/images/loading.gif" class="ajax-loader" />
</div>