<div mdl id="page-content-wrapper" class="mdl-grid ui-widget">
    <h3 class="mdl-cell mdl-cell--12-col" [innerHTML]="municipio ? 'Município de ' + municipio.nome : 'Município'"></h3>
    <div class="error mdl-cell mdl-cell--12-col" *ngIf="errorMessage">{{errorMessage}}</div>

    <div id="detalhes-municipio" *ngIf="municipio" class="mdl-cell mdl-cell--12-col" >
        <div class="mdl-card card-left mdl-shadow--2dp mdl-cell mdl-cell--4-col">
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">{{municipio.nome}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <h5>Latitude:</h5>{{municipio.latitude}} <br />
                <h5>Longitude:</h5>{{municipio.longitude}} <br />
                <h5>Código IBGE:</h5>{{municipio.codIBGE}}
            </div>
        </div>

        <div class="mdl-card card-left mdl-shadow--2dp mdl-cell mdl-cell--8-col">
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">Mapa da Região</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <sebm-google-map [latitude]="municipio.latitude"
                                 [longitude]="municipio.longitude"
                                 [zoom]="zoom">
                    <sebm-google-map-marker *ngFor="let m of markers"
                                            [latitude]="m.lat"
                                            [longitude]="m.lng"
                                            [label]="m.label"></sebm-google-map-marker>
                </sebm-google-map>
            </div>
        </div>
                
        <div class="mdl-cell mdl-cell--12-col mdl-card card-left mdl-shadow--2dp width-to-max">
			<div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">Tipos de ensino para gráficos</h2>
            </div>
			<div class="mdl-card__supporting-text">                
                <h6>Selecione os tipos que deseja visualizar o gráfico:</h6>
                <div *ngFor="let tipoEnsino of tiposEnsino" class="ui-grid-responsive" style="float: left;width:250px;margin-bottom:10px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1">
                            <input type="checkbox" value="{{tipoEnsino}}" (change)="setSelectedGraph(tipoEnsino, $event)" />
                        </div>
                        <div class="ui-grid-col-11">
                            <label class="ui-widget">{{tipoEnsino.nome}}</label>
                        </div>
                    </div>
                </div>
			</div>
		</div>
        <p>&nbsp;</p>
        <h3>Gráficos</h3>

		<div *ngFor="let selectedGraph of selectedGraphs" class="mdl-cell mdl-cell--6-col mdl-card card-left mdl-shadow--2dp">
			<div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text">{{selectedGraph.tipoEnsino.nome}} - {{municipio.nome}}</h2>
            </div>
			<div class="mdl-card__supporting-text">
                <h6>Selecione as categorias que deseja visualizar dados no gráfico.</h6>
                
                <div *ngFor="let categoria of categorias" class="mdl-cell mdl-cell--12-col" style="float: left;width:250px;margin-bottom:10px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-1">
                            <input type="checkbox" value="{{categoria.id}}" (change)="getGraph(selectedGraph, categoria, $event)" />
                        </div>
                        <div class="ui-grid-col-11"><label class="ui-widget">{{categoria.nome}}</label></div>
                    </div>
                </div>

                <div *ngFor="let selectedCategoria of selectedGraph.selectedCategories" class="mdl-cell mdl-cell--12-col mdl-card card-left mdl-shadow--2dp" style="float: left;margin-bottom:10px">
                    <div class="mdl-card__title mdl-card--border">
                        <h2 class="mdl-card__title-text">{{selectedCategoria.nome}}</h2>
                    </div>
                    
                    <div *ngFor="let sub of subcategorias" class="ui-grid-responsive" style="float: left;width:100%;margin-bottom:10px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-1">
                                <input type="checkbox" value="{{sub.id}}" (change)="setGraphData(selectedGraph, selectedCategoria, sub, $event, true)"/>
                            </div>
                            <div class="ui-grid-col-11"><label class="ui-widget">{{sub.nome}}</label></div>
                        </div>
                    </div>

                    <p-lineChart *ngIf="selectedCategoria.selectedSubCategories.length > 0" [value]="selectedCategoria.data" width="640" height="320" [bezierCurve]="false" 
                        [responsive]="true" [legend]="lgnd"></p-lineChart>
                    <!--p-barChart [value]="data" width="640" height="320" [legend]="lgnd"></p-barChart-->
                    <div #lgnd></div>
                </div>
			</div>
		</div>
    </div>
	
    <div class="mdl-cell mdl-cell--12-col">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="goBack()">
            Voltar
        </button>
    </div>

    <div id="loader" *ngIf="isLoading">
        <img src="app/images/loading.gif" class="ajax-loader" />
    </div>
</div>