<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">Educação Conectada</a>
            </li>
            <li class="active"><a [routerLink]="['Home']">Home</a></li>
            <li><a [routerLink]="['Busca']">Busca</a></li>
            <li><a [routerLink]="['Municipio']">Municipio</a></li>
            <li class="sidebar-brand"><a href="#">Pesquisa Direcionada</a></li>
            <ul>
                <li><a>Educação Infantil</a></li>
                <li><a>Educação Superior</a></li>
                <li><a>Ensino Fundamental</a></li>
                <li><a>Ensino Médio</a></li>
                <li><a>Ensino Jovem Adulto</a></li>
                <li><a>Ensino Especial</a></li>
            </ul>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>